/* src/components/sidebar_components/Devices_contents/historicalDataModal.css */

/* Overlay for modal background */
#historical-data-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal container */
#historical-data-container {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 90rem;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
}

/* Modal header */
#historical-data-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

/* Chart container inside modal */
#historical-data-container .recharts-wrapper {
  margin-top: 4rem;
  margin-bottom: 20px;
}

.modal-close-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  z-index: 10;
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.modal-close-icon:hover {
  transform: rotate(90deg) scale(2); /* Rotate 20 degrees on hover */
}


.modal-container {
  position: relative; /* ensure absolute inside works */
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}


/* Loading message */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000;
  text-align: center;
  font-size: 1.2rem;
}

/* Position it at the top-right of the modal container */
.modal-filter-icon {
  position: absolute;       /* Position relative to modal-container */
  top: 2.3rem;                /* Adjust distance from top */
  left: 20rem;              /* Adjust distance from right */
  font-size: 1.8rem;          /* Icon size */          /* Icon color */
  cursor: pointer;          /* Pointer cursor on hover */
  transition: transform 0.2s;
}

.modal-filter-icon:hover {    /* Slight grow effect on hover */
  color: #007bff;           /* Optional hover color */
}
.history-container {
    height: 5rem;
    width: 100%;
    border-bottom: 2px solid #ccc;
}
#history-title {
    position: absolute;
    line-height: 5rem;
    margin: -0.5rem 0;
    font-size: 1.5rem;
}
.history-filter {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 1rem;
}
#apply-filter, #cancel-filter {
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#history-filter-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top:  -5rem;
    left: -9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#history-filter-container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 20rem;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}