.Header {
    margin-left: 18rem;
    background-color: #093FB4;
    height: 5rem;
    display: flex;
}
h1 {
    color: #fff;
    margin: auto auto auto 15rem;
    padding: 1rem;
    font-size: 2rem;
}