.sidebar {
    background-color: #011627;
    border-top: .5px solid white;
    position: absolute;
    width: 15rem;
    height: 92vh;
    padding: 1rem 2rem;
    gap: 2rem;
    left: -100%;
}
.sidebar.active {   
    left: 0;
    transition: all .5s ease;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
    margin: 1.5rem 0;
}
ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: .5rem .5rem;
    border-radius: 0.5rem;
}
ul li a:hover,
ul li a.active {
    background-color: #172b4d;
    transition: all .5s;
}
img.logo {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 45vh;
    border-radius: 50%;
    border: 2px solid black;
    background: white;
    padding: 0.5rem;
}