body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.home-bg {
  background-image: url('../../assets/final_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: -1;
}

.devices-contents, .logs-contents, .contactsettings-contents {
  background-image: url('../../assets/UIbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 1;
  z-index: -1;
}
.home_content {
  margin-top: 25vh;
}
.h2,  .h4 {
  padding: 1.5rem;
  text-align: right;
  margin-left: 6%;
  width: 90%;
}
.h2 {
  font-size: 3rem;
  font-weight: 900;
}
.h4 {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.add-device-button, .add-contact-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 4%;
  height: 6%;
  background-color: #011627;
  color: #fff;
  font-size: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.add-device-button:hover, .add-contact-button:hover {
  background-color: #3b82f6;
  border: 1px;
  box-shadow: 0 8px 24px 0 rgba(59,130,246,0.4), 0 12px 40px 0 rgba(59,130,246,0.19);
  color: #fff;
}

.devices_contents2, .contactsettings_contents2, .logs_contents2 {
  border-top: 3px solid red;
  display: flex;
  background: #EBEBEB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.devices_contents2 h2, .contactsettings_contents2 h2, .logs_contents2 h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: .5rem;
  align-items: center;
}
.devices_contents2 svg, .contactsettings_contents2 svg, .logs_contents2 svg {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 6rem;
  align-items: center;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  width: 30rem;
  height: 30rem;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
  overflow-y: auto;
}

#modal-container-contacts {
  width: 40rem;
  height: 40rem;
}